@model IEnumerable<Departamento>

@{ 
    ViewData["Titulo"] = "Departamentos";
}

<h2>@ViewData["Titulo"]</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Detalhes", "Detalhes", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Apagar", "Apagar", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
    </tbody>
</table>